<html>
<head>
  <link rel="stylesheet" href="/assets/css/materialize.min.css">
  <link rel="stylesheet" href="/assets/css/login.css">
  <script src="/assets/js/jquery-3.2.1.min.js"></script>
  <script src="/assets/js/materialize.min.js"></script>
</head>
<body>
  <div id="login-form" class="card">
    <form>
      <div class="row">
        <div class="input-field col s12">
          <input class="validate" type="text" name="username" id="email" required />
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m12">
          <input class="validate" type="password" name="password" id="password" required />
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <button class="btn wave-effect col m10 push-m1">Login</button>
      </div>
    </form>
  </div>
</body>
</html>
